<div class="eqLogic-widget eqLogic noResize hyperion"
	style="background-color: #background_color#; padding: 0px; #style#"
	data-eqLogic_id="#id#" data-eqLogic_uid="#uid#"
	data-version="dashboard">
	<span class="statusCmd"
		style="position: absolute; left: 5px; bottom: 5px; width: 30px; z-index: 1030;"></span>
	<center>
		<a href="#eqLink#" style="font-size: 1.5em;"> #name# </a>
	</center>
	<center style="margin-top: 10px;">
		<select class="form-control selectMode"
			style="background-color: #cmdColor#; width: 90%; color: white">
			#select_mode#
		</select>
	</center>
	<script>
		$('.eqLogic[data-eqLogic_uid=#uid#] .selectMode').on('change', function() {
			$('.eqLogic[data-eqLogic_uid=#uid#] .statusCmd').empty().append('<i class="fa fa-spinner fa-spin"></i>');
			jeedom.cmd.execute({
				id: $(this).value(),
				error : function(){
					$('.eqLogic[data-eqLogic_uid=#uid#] .statusCmd').empty().append('<i class="fa fa-times"></i>');
					setTimeout(function() {
						$('.eqLogic[data-eqLogic_uid=#uid#] .statusCmd').empty();
					}, 3000);
				},
				success : function(){
					$('.eqLogic[data-eqLogic_uid=#uid#] .statusCmd').empty().append('<i class="fa fa-rss"></i>');
					setTimeout(function() {
						$('.eqLogic[data-eqLogic_uid=#uid#] .statusCmd').empty();
					}, 3000);
				}
			});
		});
	</script>
</div>